.home .cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.home .employee-card{
    width: 15rem;
    border: 1px solid lightgray;
    padding: .5rem;
    border-radius: .3rem;
    position: relative;
    text-align: left;
    padding-left: 4rem;
}

.home input{
    margin: 1rem;
    padding: .5rem;
}

.home a{
    color: black;
    text-decoration: none;
}

.home .checkbox{
    position: absolute;
    top:18px;
    left: 2px;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.home .delete-selected-id-btn{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 10rem;
    height: 3rem;
}

.home .search-bar{
    border: 1px solid darkgray;
    border-radius: .3rem;
}

.errors{
    text-align: left;
    width: 25rem;
    border: 1px solid lightgray;
    margin: auto;
    padding: 1rem;
    border-radius: .3rem;
}

button{
    border: 1px solid ;
    padding: .3rem .6rem;
    cursor: pointer;
    background-color: var(--secondary-color)   ;
    color: white;
    margin-right: 1rem;
    border-radius: .3rem;
}